<a href="https://colab.research.google.com/github/Yeunseok97/python_start/blob/main/python_function3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

221

입력된 문자열을 역순으로 출력하는 print_reverse 함수를 정의하라.

print_reverse("python")

In [ ]:
def print_reverse(string):
  print(string[::-1])
print_reverse("abc")

cba

222

성적 리스트를 입력 받아 평균을 출력하는 print_score 함수를 

정의하라.

    print_score ([1, 2, 3])

In [3]:
def print_score(list):
  print(sum(list)/len(list))
print_score([1,2,3])

2.0

223

하나의 리스트를 입력받아 짝수만 화면에 출력하는 print_even 함수를 정의하라.

    print_even ([1, 3, 2, 10, 12, 11, 15])

In [4]:
def print_even(list):
  for i in list:
    if i % 2 == 0:
      print(i)

print_even([1,3,2,10,12,11,15])

2
10
12

224

하나의 딕셔너리를 입력받아 딕셔너리의 key 값을 화면에 출력하는 print_keys 함수를 정의하라.

    print_keys ({"이름":"김말똥", "나이":30, "성별":0})

In [21]:
def print_keys(dict):
  for i in dict.keys():
    print(i)


print_keys({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

225

my_dict에는 날짜를 키값으로 OHLC가 리스트로 저장돼 있다.


```
# 코드로 형식 지정됨

my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}
```


my_dict와 날짜 키값을 입력받아 OHLC 리스트를 출력하는 print_value_by_key 함수를 정의하라.

    print_value_by_key  (my_dict, "10/26")
    [100, 130, 100, 100]

In [24]:
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

def print_value_by_key(my_dict, date):
  print(my_dict[date])

print_value_by_key(my_dict, "10/26")

[100, 130, 100, 100]

226

입력 문자열을 한 줄에 다섯글자씩 출력하는 print_5xn

(string) 함수를 작성하라.

    print_5xn("아이엠어보이유알어걸")
    아이엠어보
    이유알어걸

In [85]:
#다시 볼 것
# 1) 포문에서5글자 단위로 끊는걸 먼저 해야함. -> 몇 줄로 출력할건지
# 2) 리스트 슬라이싱으로 출력할 범위 쪼개는데 인덱스 5기준으로 쪼개면 아, 이, 1이 기준으로 3줄이 출력됨
# 3) 다섯 글자 씩 출력하려면 인덱스 0, 5, 10 기준으로부터 +5개를 출력해줘야하므로 
# i*5 : i*5 + 5 범위로 슬라이싱 해줘야한다
def print_5xn(string):
  for i in range(int(len(string)/5)+1):
    print(string[i*5:i*5+5])

  
print_5xn("아이엠어보이유알어걸1")

아이엠어보
이유알어걸
1

227

문자열과 한줄에 출력될 글자 수를 입력을 받아 한 줄에 입력된 글자 수만큼 출력하는 print_mxn(string) 함수를 작성하라.

    printmxn("아이엠어보이유알어걸", 3)
    아이엠
    어보이
    유알어
    걸

In [86]:
def printmxn(string, line):
  for i in range(int(len(string)/line)+1):
    print(string[i*line:i*line+line])

printmxn("아이엠어보이유알어걸", 3)

아이엠
어보이
유알어
걸

228

연봉을 입력받아 월급을 계산하는 calc_monthly_salary(annual_salary) 함수를 정의하라. 회사는 연봉을 12개월로 나누어 분할 지급하며, 이 때 1원 미만은 버림한다.

    calc_monthly_salary(12000000)
    1000000

In [99]:
def calc_monthly_salary(salary):
  month_salary = int(salary/12)
  print(month_salary)
  return month_salary
calc_monthly_salary(12001234)

1000102

1000102

229

아래 코드의 실행 결과를 예측하라.


```

def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)

```

In [102]:
#a 와 b에 값을 바인딩해서 넣는것이므로 상관이 없이 그대로 출력된다.
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)

왼쪽: 100
오른쪽: 200

230

아래 코드의 실행 결과를 예측하라.


```
# 코드로 형식 지정됨

def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)
```

In [106]:
#왼쪽 200 오른쪽 100이 출력됨.
# 함수 호출 시 a, 와 b 값을 바인딩을해서 넣어줬기 때문에 
#인자 입력 순서랑 상관없이 함수 내 갑과 같으므로
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b = 100, a = 200)

왼쪽: 200
오른쪽: 100