<a href="https://colab.research.google.com/github/Yeunseok97/python_start/blob/main/python_loop7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

191

data에는 매수한 종목들의 OHLC (open/high/low/close) 가격 정보가 바인딩 되어있다.


```

data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

```

수수료를 0.014 %로 가정할 때, 각 가격에 수수료를 포함한 가격을 한라인에 하나씩 출력하라.

```

2000.28
3050.427
2050.2870000000003
...
```

In [6]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data:
  for j in i:
    print(j + (j * 14)/10**5)

2000.28
3050.427
2050.287
1980.2772
7501.05
2050.287
2050.287
1980.2772
15452.163
15052.107
15552.177
14902.086

192

191번의 출력 결과에 행단위로 "----" 구분자를 추가하라.


```
# 코드로 형식 지정됨

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----
```

In [9]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data:
  
  for j in i:
    print(j + (j * 14)/10**5)
  print("-"*4)

2000.28
3050.427
2050.287
1980.2772
----
7501.05
2050.287
2050.287
1980.2772
----
15452.163
15052.107
15552.177
14902.086
----

193

192 번 문제의 결괏값을 result 이름의 리스트에 1차원 배열로 저장하라.

    >> print(result)
    [2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, ...]

In [12]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result= []
for i in data:
  
  for j in i:
    print(j + (j * 14)/10**5)
    result.append(j + (j * 14)/10**5)
  print("-"*4)
print(result)

2000.28
3050.427
2050.287
1980.2772
----
7501.05
2050.287
2050.287
1980.2772
----
15452.163
15052.107
15552.177
14902.086
----
[2000.28, 3050.427, 2050.287, 1980.2772, 7501.05, 2050.287, 2050.287, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086]

194

191번 문제의 결괏값을 result 이름의 리스트에 2차원 배열로 

저장하라. 저장 포맷은 아래와 같다. 각 행에 대한 데이터끼리 

리스트에 저장되어야 한다.

    >> print(result)


```
# 코드로 형식 지정됨
[
 [2000.28, 3050.427, 2050.2870000000003, 1980.2772],
 [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772],
 [15452.163, 15052.107, 15552.177, 14902.086000000001]
]
```

In [43]:
## 헷갈린다 다시 볼것.
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data:
  s_result = []
  for j in i:
    commission = j + (j * 14)/10**5
    s_result.append(commission)
print(result)

[[2000.28, 3050.427, 2050.287, 1980.2772], [7501.05, 2050.287, 2050.287, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086]]

195

ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가

(close)가 날짜별로 저장돼 있다. 화면에 종가데이터를 

출력하라.


```
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
100
190
310
```

In [58]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
#sol1)
for i in range(1,4):
  print(ohlc[i][-1])
print()
#sol2)
for i in ohlc[1:]:
  # print(i[-1])
  print(i[3])

100
190
310

100
190
310

196

종가가 150원보다 큰경우에만 

종가를 출력하라.


```
# 코드로 형식 지정됨

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
190
310
```

In [61]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
  if i[-1]>150:
    print(i[-1])

190
310

197
종가가 시가 보다 크거나 같은 경우에만 종가를 출력하라.

    결과
    100
    310

In [64]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
print("결과")
for i in ohlc[1:]:
  if i[-1]>=i[0]:
    print(i[-1])

결과
100
310

198

고가와 저가의 차이를 변동폭으로 정의할 때 변동폭을 volatility 이름의 리스트에 저장하라.

In [70]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
volatility = []

#sol1)
for i in ohlc[1:]:
  v = i[1]-i[2]
  volatility.append(v)
print(volatility)

#sol2)
for i in range(1, len(ohlc)):
  v = ohlc[i][1] - ohlc[i][2]
  volatility.append(v)
print(volatility)

[40, 30, 10]

199

종가가 시가보다 높은 날의 변동성 (고가 - 저가)을 화면에 출력하라.

종가가 시가보다 높은 거래일의 OHLC는 [300, 310, 300, 310] 

이다. 따라서 이 거래일의 변동성은 10 (310 - 300)이다.

10

In [71]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
  if i[-1] > i[0]:
    print(i[1] - i[2])

10

200

시가에 매수해서 종가에 매도 했을 경우 총 수익금을 계산하라.

1일차 수익 0원 (100 - 100), 

2일차 수익 -10원 (190 - 200), 

3일차 수익 10원 (310 - 300) 이다.

In [73]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
a = 0
revenue = 0
for i in ohlc[1:]:
  a += (i[0] - i[-1])
print(a)

0