아래 코드의 실행 결과를 예상해보세요.

>> a = "3"

>> b = "4"

>> print(a + b)

In [2]:
# 34가 된다. 문자열은 정수형이 아니기때문에 연산이 수식 연산이 안되고
# 문자열 그 자체의 덧셈으로 문자열 연결을 함.
a = "3"
b = "4"
print(a + b)

34

아래 코드의 실행 결과를 예상해보세요.

>> print("Hi" * 3)

In [5]:
# 문자열 곱셈은 반복이므로 Hi 연달아 세번 붙은 HiHiHi가 나올것이다
print("Hi" * 3)

HiHiHi

화면에 '-'를 80개 출력하세요.

In [6]:
print("-"*80)

--------------------------------------------------------------------------------

변수에 다음과 같은 문자열이 바인딩되어 있습니다.

>>> t1 = 'python'

>>> t2 = 'java'

변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 

출력해보세요.

실행 예:

python java python java python java python java

In [11]:
t1 = 'python'
t2 = 'java'
print((t1 +" "+ t2+" ")*4)

python java python java python java python java

변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.


name1 = "김민수" 

age1 = 10

name2 = "이철희"

age2 = 13

이름: 김민수 나이: 10

이름: 이철희 나이: 13

In [32]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름:%s 나이:%d"%(name1, age1))
print("이름:%s 나이:%d"%(name2, age2))

이름:김민수 나이:10
이름:이철희 나이:13

문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 

풀어보세요.

In [31]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름:{} 나이:{}".format(name1, age1))
print("이름:{0} 나이:{1}".format(name2, age2))

이름:김민수 나이:10
이름:이철희 나이:13

 f-string을 사용해서 035번 문제를 다시 풀어보세요.

In [33]:
# f-string을 사용하면 {변수}와 같은 형태로 
# 문자열 사이에 타입과 상관없이 값을 출력할 수 있음.

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print(f"이름:{name1} 나이:{age1}")
print(f"이름:{name2} 나이:{age2}")

이름:김민수 나이:10
이름:이철희 나이:13

삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 

이를 정수 타입으로 변환해보세요.

상장주식수 = "5,969,782,550"

In [37]:
stock = "5,969,782,550"
# "," 제거
stock_replace = stock.replace(",","")
# 정수변환
int_stock = int(stock_replace)
print(int_stock,type(int_stock))

5969782550 <class 'int'>

다음과 같은 문자열에서 '2020/03'만 출력하세요.

분기 = "2020/03(E) (IFRS연결)"

In [44]:
quarter = "2020/03(E) (IFRS연결)"
splited_quarter = quarter.split("(")
print(splited_quarter[0])
print()

2020/03

문자열의 좌우의 공백이 있을 때 이를 제거해보세요.

data = "   삼성전자    "

In [48]:
data = " 삼성전자 "
data_strip = data.strip
print(data_strip)

<built-in method strip of str object at 0x7f379c2e3a40>