<a href="https://colab.research.google.com/github/Yeunseok97/python_start/blob/main/python_loop6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

181

아래 표에서 하나의 행을 하나의 리스트로, 총 3개의 리스트를 

갖는 이차원 리스트 apart를 정의하라.

    101호	102호
    201호	202호
    301호	302호

In [2]:
apart = [["101호", "102호"],["201호", "202호"],["301호", "302호"]]
print(type(apart))

<class 'list'>

182

아래 표에서 하나의 열을 하나의 리스트로, 총 2개의 리스트를 

갖는 이차원 리스트 stock을 정의하라.

    시가	종가
    100	80
    200	210
    300	330

In [3]:
stock = [["시가", "100", "200", "300"], ["종가","80","210","330"]]

183

아래 표를 stock 이름의 딕셔너리로 표현하라.시가를 key로 

저장하고, 나머지 같은 열의 데이터를 리스트로 저장해서 

value로 저장한다. 종가 역시 key로 저장하고 나머지 같은 열의 

데이터를 리스트로 저장해서 value로 저장한다.

    시가	종가
    100	80
    200	210
    300	330

In [7]:
stock = {"시가": [100, 200, 300], "종가": [80, 210, 330]}

84

아래 표를 stock 이라는 이름의 딕셔너리로 표현하라. 날짜를 

key로 저장하고, 나머지 같은 행의 데이터를 리스트로 저장해서 

value로 저장한다. 첫 열이 날짜이다.

    10/10	80	110	70	90
    10/11	210	230	190	200

In [8]:
stock = {"10/10" : [80, 110, 70, 90], "10/11" : [210, 230, 190, 200]}

리스트에 저장된 데이터를 아래와 같이 출력하라.

    apart = [ [101, 102], [201, 202], [301, 302] ]

    101 호
    102 호
    201 호
    202 호
    301 호
    302 호

In [13]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
  for col in row:
    print(col,"호")

101 호
102 호
201 호
202 호
301 호
302 호

186

리스트에 저장된 데이터를 아래와 같이 출력하라.

    apart = [ [101, 102], [201, 202], [301, 302] ]
    301 호
    302 호
    201 호
    202 호
    101 호
    102 호

In [6]:
#다시 볼것
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart[::-1]:
  for col in row:
    print(col, "호")

301 호
302 호
201 호
202 호
101 호
102 호

187

리스트에 저장된 데이터를 아래와 같이 출력하라.

    apart = [ [101, 102], [201, 202], [301, 302] ]
    302 호
    301 호
    202 호
    201 호
    102 호
    101 호

In [8]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart[::-1]:
  for col in row[::-1]:
    print(col, "호")

302 호
301 호
202 호
201 호
102 호
101 호

188

리스트에 저장된 데이터를 아래와 같이 출력하라.

    apart = [ [101, 102], [201, 202], [301, 302] ]
    101 호
    -----
    102 호
    -----
    201 호
    -----
    202 호
    -----
    301 호
    -----
    302 호
    -----

In [10]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
  for col in row:
    print(col,"호")
    print("-"*5)

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

189

리스트에 저장된 데이터를 아래와 같이 출력하라.

    apart = [ [101, 102], [201, 202], [301, 302] ]
    101 호
    102 호
    -----
    201 호
    202 호
    -----
    301 호
    302 호
    -----

In [13]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
 
  for col in row:
    print(col,"호")
  print("-"*5)

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

190

리스트에 저장된 데이터를 아래와 같이 출력하라.

    apart = [ [101, 102], [201, 202], [301, 302] ]
    101 호
    102 호
    201 호
    202 호
    301 호
    302 호
    -----

In [17]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
  for j in i:
    print(j)
print("-"*5)

101
102
201
202
301
302
-----