<a href="https://colab.research.google.com/github/Yeunseok97/python_start/blob/main/python_function2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

211

    함수의 호출 결과를 예측하라.


```
# 코드로 형식 지정됨
def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")
```

In [1]:
# 입력받은 문자열을 그대로 출력해주기때문에
# 안녕 
# HI

안녕
Hi

212

함수의 호출 결과를 예측하라.


```
# 코드로 형식 지정됨

def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)
```

In [3]:
#7
#15

213

아래와 같은 에러가 발생하는 원인을 설명하라.



```
# 코드로 형식 지정됨

def 함수(문자열) :
    print(문자열)
함수()
TypeError: 함수() missing 1 required positional argument: '문자열'
```

In [ ]:
# 함수라는 함수는 하나의 파라미터를 받아야하는데 아무것도 안 넣고 출력을 했으니 에러가 날 수밖에;

214

아래와 같은 에러가 발생하는 원인을 설명하라.


```
# 코드로 형식 지정됨

def 함수(a, b) :
    print(a + b)

함수("안녕", 3)
TypeError: must be str, not int
```

In [ ]:
# 문자열과 정수형은 더할 수가 없어서 2개의 입력값을 받는것은 맞으나 연산이 안돼서 에러가 난다.

215

하나의 문자를 입력받아 문자열 끝에 ":D" 스마일 문자열을 이어 붙여 출력하는 print_with_smile 함수를 정의하라.

In [6]:
def print_with_smile(string):
  print(string + ":D")
print_with_smile("웃으면 복이와요")

웃으면 복이와요:D

216

215에서 정의한 함수를 호출하라. 파라미터는 "안녕하세요"로 입력하라.

In [9]:
print_with_smile("안녕하세요")

안녕하세요:D

217

현재 가격을 입력 받아 상한가 (30%)를 출력하는 print_upper_price 함수를 정의하라.

In [10]:
def print_upper_price(current_price):
  print(current_price * 1.3)

print_upper_price(100)

130.0

218

두 개의 숫자를 입력받아 두 수의 합을 출력하는 print_sum 

함수를 정의하라.

In [11]:
def sum(a, b):
  print(a + b)

sum(1,2)

3

219

두 개의 숫자를 입력받아 합/차/곱/나눗셈을 출력하는 

print_arithmetic_operation 함수를 작성하라.



```
# 코드로 형식 지정됨

print_arithmetic_operation(3, 4)
3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75
```

In [16]:
def print_arithmetic_operation(num1, num2):
  print("num1 + num2 = {}".format(num1 + num2))
  print("num1 - num2 = {}".format(num1 - num2))
  print("num1 * num2 = {}".format(num1 * num2))
  print("num1 / num2 = {}".format(num1 / num2))

print_arithmetic_operation(3 , 4)

num1 + num2 = 7
num1 - num2 = -1
num1 * num2 = 12
num1 / num2 = 0.75

220

세 개의 숫자를 입력받아 가장 큰수를 출력하는 print_max 함수를 정의하라. 단 if 문을 사용해서 수를 비교하라.

In [21]:
#sol1)

def print_max(num1, num2, num3):
  if num1 >= num2 and num1 >= num3:
    print(num1)
  elif num2 >= num1 and num2 >= num3:
    print(num2)
  else:
    print(num3)
print_max(4,8,20)

20