1,2

화면에 Hello World 문자열을 출력하세요.

In [ ]:
print("Hello world")

Hello world

In [ ]:
print('신씨가 소리질렀다. "도둑이야"')

신씨가 소리질렀다. "도둑이야"

3,4

화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)

In [ ]:
print("Mary's cosmetics")

Mary's cosmetics

신씨가 소리질렀다. "도둑이야".

3. 
화면에 "C:\Windows"를 출력하세요.

In [1]:
print('"C:Windows"')

"C:Windows"

5.

다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.

In [2]:
print("안녕하세요.\n만나서\t\t반갑습니다.")
# \n 행변환
# \t 탭

안녕하세요.
만나서		반갑습니다.

6,7

print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.

In [ ]:
print ("오늘은", "일요일"," 개꿀따리 개꿀따")
# 여러 값을 출력하려면 쉼표로 구분하면 됨.

오늘은 일요일  개꿀따리 개꿀따

print() 함수를 사용하여 다음과 같이 출력하세요.
naver;kakao;sk;samsung

In [ ]:
print("naver","kakao","sk","samsung",sep = ";")
#sep으로 구분지을 수 있음.

naver;kakao;sk;samsung

8.

print() 함수를 사용하여 다음과 같이 출력하세요.
naver/kakao/sk/samsung

In [5]:
print("naver","kakao","sk","samsung",sep = "/")
#sep으로 구분지을 수 있음.

naver/kakao/sk/samsung

9.

다음 코드를 수정하여 줄바꿈이 없이 출력하세요. 
print("first");print("second")

In [4]:
print("first",end =" ");print("second")

first second

10.

5/3의 결과를 화면에 출력하세요.

In [ ]:
print(5/3)
5/3

#colab의 경우 마지막 줄을 실행하기 때문에 5/3도 가능

1.6666666666666667

1.6666666666666667