<a href="https://colab.research.google.com/github/Yeunseok97/python_start/blob/main/python_loop4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

161

for문과 range 구문을 사용해서 0~99까지 한 라인에 하나씩 

순차적으로 출력하는 프로그램을 작성하라.

In [ ]:
for i in range(100):
  print(i)

162

월드컵은 4년에 한 번 개최된다. range()를 사용하여 

2002~2050년까지 중 월드컵이 개최되는 연도를 출력하라.

In [3]:
#sol 1)
for i in range (2002, 2050):
  if i % 4 == 2:
    print(i)
print()
#sol 2)
for i in range(2002, 2050, 4):
  print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046

163

1부터 30까지의 숫자 중 3의 배수를 출력하라.

In [14]:
#sol1)
for i in range(1, 31):
  if i % 3 == 0:
    print(i)
print()
#sol2)
for i in range(3, 31, 3):
  print(i)

3
6
9
12
15
18
21
24
27
30

3
6
9
12
15
18
21
24
27
30

164

99부터 0까지 1씩 감소하는 숫자들을, 한 라인에 하나씩 출력하라.

In [ ]:
#sol1)
for i in range(100, 0, -1):
  print(i)

#sol2)
for i in range(100):
  print(100 - i)

165

for문을 사용해서 아래와 같이 출력하라.

0.0
0.1
0.2
0.3
0.4
0.5
...
0.9

In [24]:
for i in range(10):
  print(i / 10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

166

구구단 3단을 출력하라.

In [25]:
for i in range(1, 10):
  print("3x{} = {}".format(i, 3*i))

3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27

167

구구단 3단을 출력하라. 단 홀수 번째만 출력한다.

In [26]:
for i in range(1, 10, 2):
  print("3x{} = {}".format(i, 3*i))

3x1 = 3
3x3 = 9
3x5 = 15
3x7 = 21
3x9 = 27

168

1~10까지의 숫자에 대해 모두 더한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

In [86]:
#sol 1)
a = 0
for i in range(1, 11):
  a += i
print(a)

# sol 2)
a = []
for i in range(1, 11):
  a.append(i)
print(sum(a))

55

169

1~10까지의 숫자 중 모든 홀수의 합을 출력하는 프로그램을 for 문을 사용하여 작성하라.

In [91]:
#sol 1)
a = 0
for i in range(1, 11, 2):
  a += i
print(a)

# sol 2)
a = []
for i in range(1, 11, 2):
  a.append(i)
print(sum(a))

25

170

1~10까지의 숫자를 모두 곱한 값을 출력하는 프로그램을 for 

문을 사용하여 작성하라.

In [94]:
a = 1
for i in range(1, 11):
  a *= i
print(a)

3628800