<a href="https://colab.research.google.com/github/Yeunseok97/python_start/blob/main/python_class2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

261 

Stock 클래스 생성
주식 종목에 대한 정보를 저장하는 Stock 클래스를 정의해보세요. 클래스는 속성과 메서드를 갖고 있지 않습니다.

In [1]:
class Stock():
  pass

262 
생성자
Stock 클래스의 객체가 생성될 때 종목명과 종목코드를 입력 받을 수 있도록 생성자를 정의해보세요.

    삼성 = Stock("삼성전자", "005930")

In [4]:
class Stock():
  def __init__(self, name, code):
    self.name = name
    self.code = code

samsung = Stock("삼성전자","005930")
print(samsung.name)
print(samsung.code)

삼성전자
005930

263
 메서드
객체에 종목명을 입력할 수 있는 set_name 메서드를 추가해보세요.


```
# 코드로 형식 지정됨
a = Stock(None, None)
a.set_name("삼성전자")
```

In [7]:
class Stock():
  def __init__(self, name, code):
    self.name = name
    self.code = code
  def set_name(self, name):
    self.name = name


a = Stock(None, None)
a.set_name("삼성전자")
print(a.name)
print(a)

삼성전자
<__main__.Stock object at 0x7fee18b61cd0>

264

메서드
객체에 종목코드를 입력할 수 있는 set_code 메서드를 추가해보세요.

a = Stock(None, None)
a.set_code("005930")

In [9]:
class Stock():
  def __init__(self, name, code):
    self.name = name
    self.code = code
  def set_name(self, name):
    self.name = name
  def set_code(self, code):
    self.code = code

a = Stock(None, None)
a.set_code("005930")
print(a.code)

005930

265
 
메서드
종목명과 종목코드를 리턴하는 get_name, get_code 메서드를 추가하세요. 해당 메서드를 사용하여 종목명과 종목코드를 얻고 이를 출력해보세요.

    삼성 = Stock("삼성전자", "005930")

In [10]:
class Stock():
  def __init__(self, name, code):
    self.name = name
    self.code = code
  def set_name(self, name):
    self.name = name
  def set_code(self, code):
    self.code = code
  def get_name(self):
    return ("이름 : {}".format(self.name))
  def get_code(self):
    return ("코드 : {}".format(self.code))

삼성 = Stock("삼성전자", "005930")
print(삼성.name)
print(삼성.code)
print(삼성.get_name())
print(삼성.get_code())

삼성전자
005930
이름 : 삼성전자
코드 : 005930

266

 객체의 속성값 업데이트
생성자에서 종목명, 종목코드, PER, PBR, 배당수익률을 입력 받을 수 있도록 생성자를 수정하세요. PER, PBR, 배당수익률은 float 타입입니다.

In [2]:
class Stock():
  def __init__(self, name, code, PER, PBR, DY):
    self.name = name
    self.code = code
    self.PER = float(PER)
    self.PBR = float(PBR)
    self.DY = DY
  def set_name(self, name):
    self.name = name
  def set_code(self, code):
    self.code = code
  def get_name(self):
    return ("이름 : {}".format(self.name))
  def get_code(self):
    return ("코드 : {}".format(self.code))

삼성전자
005930
이름 : 삼성전자
코드 : 005930

267 

객체 생성
266번에서 정의한 생성자를 통해 다음 정보를 갖는 객체를 생성해보세요.

In [6]:
class Stock():
  def __init__(self, name, code, PER, PBR, DY):
    self.name = name
    self.code = code
    self.PER = float(PER)
    self.PBR = float(PBR)
    self.DY = float(DY)
Samsung = Stock("삼성전자","005930", 15.79, 1.33, 2.83)
print(Samsung.name)
print(Samsung.code)
print(Samsung.PER)
print(Samsung.PBR)
print(Samsung.DY)

삼성전자
005930
15.79
1.33
2.83

268

 객체의 속성 수정
PER, PBR, 배당수익률은 변경될 수 있는 값입니다. 이 값을 변경할 때 사용하는 set_per, set_pbr, set_dividend 메서드를 추가하세요.

In [16]:
class Stock():
  def __init__(self, name, code, PER, PBR, DY):
    self.name = name
    self.code = code
    self.PER = float(PER)
    self.PBR = float(PBR)
    self.DY = float(DY)
  
  def set_name(self, name):
    self.name = name
  def set_code(self, code):
    self.code = code
  def get_name(self):
    return ("이름 : {}".format(self.name))
  def get_code(self):
    return ("코드 : {}".format(self.code))


  def set_PER(self, PER):
    self.PER = PER
  def set_PBR(self, PBR):
    self.PBR = PBR
  def set_DY(self, DY):
    self.DY = DY

269

 객체의 속성 수정
267번에서 생성한 객체에 set_per 메서드를 호출하여 per 값을 12.75로 수정해보세요.

In [19]:
Samsung = Stock("삼성전자","005930", 15.79, 1.33, 2.83)
Samsung.set_PER(12.75)
print(Samsung.PER)

12.75

270 ★★★ 다시보기

 여러 종목의 객체 생성
아래의 표를 참조하여 3종목에 대해 객체를 생성하고 이를 파이썬 리스트에 저장하세요. 파이썬 리스트에 저장된 각 종목에 대해 for 루프를 통해 종목코드와 PER을 출력해보세요.

In [42]:
class Stock():
  def __init__(self, name, code, PER, PBR, DY):
    self.name = name
    self.code = code
    self.PER = float(PER)
    self.PBR = float(PBR)
    self.DY = float(DY)
  
  def set_name(self, name):
    self.name = name
  def set_code(self, code):
    self.code = code
  def get_name(self):
    return ("이름 : {}".format(self.name))
  def get_code(self):
    return ("코드 : {}".format(self.code))


  def set_PER(self, PER):
    self.PER = PER
  def set_PBR(self, PBR):
    self.PBR = PBR
  def set_DY(self, DY):
    self.DY = DY

Samsung = Stock("Samsung","005930", 15.79, 1.33, 2.83)
Hyundai = Stock("Hyundai", "005380", 8.70, 0.35, 4.27)
LG      = Stock("LG", "006570", 317.34, 0.69, 1.37)

s_lst =[]
s_lst.append(Samsung)
s_lst.append(Hyundai)
s_lst.append(LG)

for i in s_lst:
  print(i.code,"\n", i.PER)
  print("\t")

005930
 15.79

005380
 8.7

006570
 317.34