<a href="https://colab.research.google.com/github/Yeunseok97/python_start/blob/main/RPY_class_1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 컴퓨터 프로그래밍을 왜 하느냐
* 연산을 위한 사용이다.
* 계산 혹은 다양한 기능의 활용
* 자료(데이터) + 자료에 적용되는 로직(코드)
* 프로그램상에 자료를 만들어놔야 자료를 가지고 연산이 가능하다.
* 자료를 저장할 수 있는 친구들이 필요하다.
* 파이썬 디폴트 : list, tuple, set
* 라이브러리에 따라서 numpy(arrays), pandas(dataframe)

In [23]:
# 리스트와 튜플은 순서가 있는 자료형이다.

# fruits라는 변수를 3개의 요소를 가진 리스트로 지정함.
fruits = ["apple", "banana", "orange" ]




# fruits라는 변수를 3개의 요소를 가진 튜플로 지정함.
fruits_tuple = ("apple", "banana", "orange")


# 리스트는 변경이 가능하지만
# 튜플은 변경이 불가능하다.
fruits[0] = "peach"
# fruits_tuple[0] = "peach"
print(fruits[:])
print(fruits_tuple[:])

['peach', 'banana', 'orange']
('apple', 'banana', 'orange')

In [31]:
# 인덱스 인덱싱, 슬라이싱
# 시작요소는 들어가지만 끝 요소는 들어가지 않는다.
# 역 인덱싱 -:

['peach']

In [21]:
# 인덱스 기반 변수: 딕셔너리

Jane = {"mid" : 60, "final": 70}

# 인덱스로 찾기 불가능함.
Jane["final"]

70

#데이터: 영어로 복수
* 자료는 기본적으로 복수
* 복수의 접근하려는 방법들이 있어야 되고
* 튜플 리스트 vs 딕셔너리는 다르다

In [33]:
name = "MICHAEL JORDAN "
player = "is the best basketball player"
statement = name + player
print(statement)

MICHAEL JORDAN is the best basketball player

In [35]:
player[3:22]

'the best basketball'

In [39]:
#문자열은 튜플과 유사하여 인덱스 기반으로 변경할 수 없다.
a = "banana"

"n" in a

True

In [55]:
# 적용할 수 있는 메서드 dir()
stuff = "hire"

# dir(stuff)

In [59]:
# 메서드 -> 특정 자료형에 적용되는 함수다.
stuff.capitalize()
stuff.upper()
stuff.lower()
#find 인덱스 반환
index = stuff.find("")
index

3

In [60]:
A = [1,2,3]
B = [4,5,6]
A+B

[1, 2, 3, 4, 5, 6]

In [64]:
import numpy as np
nA = np.array(A)
nB = np.array(B)

nA + nB

array([5, 7, 9])

In [72]:
t = tuple("lupins")
# print(str(t))
# type(t)
t = ("A",) + t[1:]
t

('A', 'u', 'p', 'i', 'n', 's')

In [91]:
t = ["d","b","c"]
t.sort()
t

['b', 'c', 'd']

In [ ]:
# del은 인덱스 기반 제거, remove는 value기반으로 제거

In [94]:
nums = [3,41,12,9,74,15]


# 수치연산은 수치연산에 맞게한다 -> 넘파이 써라
np_nums = np.array(nums)
print(np.max(np_nums))
print(np.min(np_nums))
print(np.sum(np_nums))
print(np.mean(np_nums))

74
3
154
25.666666666666668

In [95]:
#참조
a = ["a",1,2]
b = a

In [96]:
a[0] = "b"
b

['b', 1, 2]

In [99]:
#딕셔너리 - 키는 유니크학 ㅗ변동이 변동 불가하나 밸류는 바뀔 수 있다.

my_dict = {1:"apple", 2: "ball"}
my_dict[1] # 리스트가 아니라서 인덱스가 아닌 키 값으로 찾는다

'apple'

In [104]:
my_dict = {"name": "JACK","age":25}
print(my_dict["name"])
print(my_dict.get("age"))
my_dict["age"] = 27
my_dict

JACK
25

{'name': 'JACK', 'age': 27}

In [108]:
eng2sp = {'one': 'uno', 'two': 'dos', 'three': 'tres'}
print(eng2sp)
print(eng2sp['two'])



# Membership Operation -> 밸류값만 뽑기.
'one' in eng2sp
'uno' in eng2sp
vals = list(eng2sp.values())
print(vals)

{'one': 'uno', 'two': 'dos', 'three': 'tres'}
dos
['uno', 'dos', 'tres']